#app {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
#app .aside-main {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* flex-wrap: wrap; */
}
@media (max-width: 900px)
{
  #app .aside-main {
    max-width: 100vw;
    flex-wrap: wrap;
  }
}